<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InicioAdmin</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="styleAdmin.css">
</head>
<body>
    <header class="header">
        <img src="../../img/logo.png">
    </header>
    <aside class="aside" id="aside">
        <div class="aside__head">
            <div class="aside__head__profile">
                <img class="aside__head__profile__Userlogo" src="../../img/LogoPrueba.jpg" alt="logoUser">
                <p>User</p>
            </div>
            <span class="material-symbols-outlined">menu</span>
        </div>
            
        <ul class="aside__options">
            <li class="options">
                <span class="material-symbols-outlined"  class="iconOption">account_circle</span>
                <span class="option"> Perfil </span>
            </li>
            <li class="options">
                <span class="material-symbols-outlined" class="iconOption">groups</span>
                <span class="option"> Administrar Clientes </span>
            </li>
            <li class="options">
                <span class="material-symbols-outlined"  class="iconOption">inventory</span>
                <span class="option"> Stock de Productos </span>
            </li>
            <li class="options">
                <span class="material-symbols-outlined" class="iconOption">sell</span>
                <span class="option"> Precios </span>
            </li>
            <li class="options">
                <span class="material-symbols-outlined"  class="iconOption">order_approve</span>
                <span class="option"> Pedidos </span>
            </li>
        </ul>
    </aside>
</body>
</html>