
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

body {
    background-image: url("../../img/Background_Admin.png");
}

.header {
    height: 120px;
    background:rgba(0, 77, 171, 100);
}

.header img {
    height: 115px;
    margin-left: 30px;
    margin: auto;
}

.aside {
    height: 100vh;
    width: 300px;
    background-color: #012340;
    color: white;
    position: fixed;
    padding: 30px;
    transition: all .2s ease;
}

.aside__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 35px;
}

.aside__head__profile {
    display: flex;
    align-items: center; 
}

.aside__head__profile__Userlogo {
    height: 40px;
    margin-right: 10px;
}

.aside .aside__options {
    list-style: none;
}

.aside .aside__options .options {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}

.aside .aside__options .options:hover {
    background-color: #b8d1e7;
}

.aside .iconOption {
    margin-right: 20px;
    font-size: 1.4rem;
}

/* MODIFICACIONES PARA EL MENU DESPLEGABLE */

.aside.active {
    width: 105px;
    transition: all .4s ease;
}

.aside.active .option,
.aside.active .aside__head__profile {
    display: none;
}

.aside.active .aside__head .logMenu{
    margin: auto;
}